#home-container {
  background-image: url('../../assets/images/homepage.jpg');
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#filter-div {
  height: 80%;
  opacity: 0.5;
  width: 100%;
  background-color: #1f97cb;
  position: absolute;
}

#homepage-image {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 80vh;
  background-color: red;
  background-size: contain;
}

.blurBackground {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}